.flexbox-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  align-items: center;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flexbox-space-evenly {
  justify-content: space-evenly;
}

.flexbox-start {
  justify-content: start;
}

.result img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

[data-value='accept'] img{
  border: 5px solid #5cb85c;
}

.res[value='accept']{
  border: 5px solid #5cb85c;
}

.res[value='accept'].active{
  background-color: #5cb85c;
}

[data-value='tentative'] img{
  opacity: 30%;
  border: 5px solid #7c8184;
}

.res[value='tentative']{
  border: 5px solid #7c8184;
}

.res[value='tentative'].active{
  background-color: #7c8184;
}

[data-value='reject'] img{
  opacity: 30%;
  border: 5px solid #d9534f;
}

.res[value='reject']{
  border: 5px solid #d9534f;
}

.res[value='reject'].active{
  background-color: #d9534f;
}

.vote-display-wrapper {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
}

/* move out to my */
.avatar-rating {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  right: 0px;
  border-radius: 8px;
  color: #fff;
  padding-left: 3.5px;
  font-size: 0.5em;
}

.C {
  background-color: #16c8f2;
}

.A {
  background-color: #4083be;
}

.T, .G, .D {
  background-color: #9cbfdd;
}